body {
    background-color: whitesmoke;
    color: #474747;
    height: 100%;
    font-size: 1.05em;
}

.bg {
    /* The image used */
    background-image: url("https://cdn0.vox-cdn.com/uploads/chorus_asset/file/5899681/generalmuir_eater382016_burger.0.jpg");

    /* Full verticle height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.text-bg {
    height: 100%;
    /*background-color: rgb(255, 255, 255, 0.65);*/
    background: linear-gradient(rgb(255,255,255,0.7),rgb(0,0,0,0.45));
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: #323232;
    padding: 0;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color:whitesmoke;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: whitesmoke;
}

h1 {
    font-size: 4rem;
    font-weight: 200;
}

h3 {
    font-weight: 200;
}

.nav-link{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
    background-color: #4c4c4c;
}

th {
    font-weight: normal;
}

search_container {
    background-color: #E9F1F7;
    min-height: 100vh;
}

#recipeInfoImg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#recipePage li {
    list-style: none;
}

.recipe-custom-bg {
    background-color: white;
}

.card-header {
    padding: 0;
}

.card-body {
    padding: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.form-control {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.container-semi-fluid{
    max-width: 80%;
}

@media (max-width: 800px){ 
    body{
        font-size: 0.75rem;
    }
    .nav, .navbar-brand {
        font-size: 0.9rem;
    }
    .form-control, .btn {
        font-size: 0.75rem;
    }
    .container-semi-fluid{
        max-width: 100% !important;
    }
}

#btn_search {
    width: 100%;
}

#search_category {
    height: 100% !important;
}

#search {
    height: 100vh !important;  
}

#recipeInfoIng {
    max-height: 50vh;
    overflow-y: scroll;
}

.bottom-aligned {
    position: absolute;
    color: whitesmoke;
    left:0;
    right:0;
    bottom: 0;
    padding-bottom: 2%;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 100;
}

.gradient-bg {
    bottom: 0;
    height: 100%;
    left: 0;
    right:0;
}