body {
    background-color: whitesmoke;
    color: #474747;
    height: 100%;
    font-size: 1.05em;
}

.bg {
    /* The image used */
    background-image: url("https://cdn0.vox-cdn.com/uploads/chorus_asset/file/5899681/generalmuir_eater382016_burger.0.jpg");

    /* Full verticle height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.text-bg {
    height: 100%;
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: #A7DB62;
    padding: 0;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #000000;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #000000;
}

.nav-link{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #474747;
    background-color: rgb(132, 187, 60);
}

th {
    font-weight: normal;
}

search_container {
    background-color: #E9F1F7;
}

#recipeInfoImg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#recipePage li {
    list-style: none;
}

.recipe-custom-bg {
    background-color: white;
}

.card-header {
    padding: 0;
}

.card-body {
    padding: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 500px) { 
    body{
        font-size: 0.7rem;
    }
    .nav, .navbar-brand {
        font-size: 0.9rem;
    }
    .form-control, .btn {
        font-size: 0.7rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
}

#btn_search {
    width: 100%;
}

#search_category {
    height: 100% !important;
}